In [1]:
import os
import numpy as np
import pandas as pd

from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV

from helper import submit

In [2]:
digits = pd.read_csv('dataset/train.csv')
digits.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
digits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 785 entries, label to pixel783
dtypes: int64(785)
memory usage: 251.5 MB

In [4]:
stats = digits.describe()
stats.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,42000.000000,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.000000,42000.000000,42000.000000,42000.00000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0
mean,4.456643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.219286,0.117095,0.059024,0.02019,0.017238,0.002857,0.0,0.0,0.0,0.0
std,2.887730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.312890,4.633819,3.274488,1.75987,1.894498,0.414264,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0

Drop columns with only 0 values

In [5]:
digits = digits.loc[:, (stats.loc['mean'] != 0).values]

In [6]:
digits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 709 entries, label to pixel779
dtypes: int64(709)
memory usage: 227.2 MB

In [7]:
digits.head()

,label,pixel12,pixel13,pixel14,pixel15,pixel32,pixel33,pixel34,pixel35,pixel36,...,pixel770,pixel771,pixel772,pixel773,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
(stats.loc['min'] == stats.loc['max']).sum()

76

In [9]:
X, Y = digits.iloc[:, 1:].values, digits.iloc[:, 0]

In [10]:
clf = RandomForestClassifier(n_estimators=50)

In [11]:
param_grid = {'n_estimators': [10, 50, 100]}
cv = GridSearchCV(clf, param_grid=param_grid, verbose=3)
cv.fit(X, Y)

Fitting 3 folds for each of 3 candidates, totalling 9 fits
[CV] n_estimators=10 .................................................
[CV] ........................ n_estimators=10, score=0.933162 -   2.6s
[CV] n_estimators=10 .................................................
[CV] ........................ n_estimators=10, score=0.932205 -   2.4s
[CV] n_estimators=10 .................................................
[CV] ........................ n_estimators=10, score=0.934419 -   2.4s
[CV] n_estimators=50 .................................................
[CV] ........................ n_estimators=50, score=0.957298 -   9.0s
[CV] n_estimators=50 .................................................
[CV] ........................ n_estimators=50, score=0.956065 -   9.4s
[CV] n_estimators=50 .................................................
[CV] ........................ n_estimators=50, score=0.960566 -   8.6s
[CV] n_estimators=100 ................................................
[CV] ....................... n_estimators=100, score=0.961083 -  17.6s
[CV] n_estimators=100 ................................................
[CV] ....................... n_estimators=100, score=0.961852 -  19.9s
[CV] n_estimators=100 ................................................
[CV] ....................... n_estimators=100, score=0.964495 -  19.1s

[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:  1.5min finished

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': [10, 50, 100]}, pre_dispatch='2*n_jobs',
       refit=True, scoring=None, verbose=3)

In [12]:
cv.best_params_

{'n_estimators': 100}

In [13]:
cv.best_score_

0.96247619047619049

In [14]:
cv.grid_scores_

[mean: 0.93326, std: 0.00091, params: {'n_estimators': 10},
 mean: 0.95798, std: 0.00190, params: {'n_estimators': 50},
 mean: 0.96248, std: 0.00146, params: {'n_estimators': 100}]

In [15]:
test = pd.read_csv('dataset/test.csv')
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
sample = pd.read_csv('dataset/sample_submission.csv')
sample.head()

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [17]:
submit(cv.best_estimator_, test.loc[:, digits.iloc[:, 1:].columns], 'output1.csv').head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [18]:
def load_datasets():
    train = pd.read_csv('dataset/train.csv')
    test = pd.read_csv('dataset/test.csv')
    return train, test

In [19]:
def drop_zero_mean(train):
    return train.loc[:, (train.describe().loc['mean'] != 0).values]